<?xml version="1.0"?>
<model>
  <name>block_marker</name>
  <version>1.0</version>

  <!-- Arquivo principal do modelo -->
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Matheus Alex</name>
  </author>

  <description>
    Bloco de teste com textura em uma das faces.
  </description>
</model>

